<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" xmlns:th="http://www.thymeleaf.org" >
    <a class="navbar-brand" href="#"> speculo </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/lk}">Мой профиль</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Мои услуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lk/orders}">Заказать услугу</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lk/schedule}">Расписание</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Выход</a>
            </li>

        </ul>
    </div>

    <a class="navbar-brand ml-auto" href="#">
        <i class="far fa-bell fa-lg" ></i>
    </a>

</nav>